.eighth-section .container, .seventh-section .form .button, .seventh-section .form .form-input, .seventh-section .card-img, .sixth-section .card-c .timer .time .block-time, .sixth-section .card-c .timer, .sixth-section, .fifth-section .img-menu, .third-section div, .second-section .img, .second-section, main .first-section, header .container .icon .social-media, header .container .icon, header .container ul a, header .container ul, header .container, .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eighth-section, .seventh-section .form, .sixth-section, .fifth-section, .third-section div {
  text-align: center;
}
.eighth-section h1:nth-of-type(1), .seventh-section .form h1:nth-of-type(1), .sixth-section h1:nth-of-type(1), .fifth-section h1:nth-of-type(1), .third-section div h1:nth-of-type(1) {
  color: #EC1D25;
  font-family: "IM Fell English SC";
  font-size: 30px;
}
.eighth-section h1:nth-of-type(2), .seventh-section .form h1:nth-of-type(2), .sixth-section h1:nth-of-type(2), .fifth-section h1:nth-of-type(2), .third-section div h1:nth-of-type(2) {
  color: white;
  font-family: "Poppins" !important;
  font-weight: bold;
  font-size: 60px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

body {
  font-family: "Poppins";
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
.container {
  width: 78%;
  margin: 0 auto;
}

.row {
  flex-wrap: wrap;
}

header {
  border-top: 5px solid #EC1D25;
  background-color: rgba(255, 255, 255, 0.886);
  position: fixed;
  width: 100vw;
  z-index: 999;
}
header .container {
  width: 78%;
  height: 100px;
  justify-content: space-between;
}
header .container ul {
  gap: 50px;
  margin: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}
header .container ul a {
  text-decoration: none;
  color: black;
}
header .container .icon {
  gap: 40px;
}
header .container .icon .social-media {
  gap: 20px;
  font-size: 13px;
}
header .container .icon .social-media a {
  color: black;
}
header .container .icon .fa-bars {
  font-size: 25px;
  color: rgb(63, 63, 63);
}

header li {
  transition: 0.3s;
}
header li:hover {
  color: #EC1D25;
}
header i {
  transition: 0.3s;
}
header i:hover {
  color: #EC1D25;
}
header .icon .fa-bars {
  transition: 0.3s;
}
header .icon .fa-bars:hover {
  color: #EC1D25;
}

main .container {
  width: 78%;
}
main .first-section {
  height: 697px;
  overflow: hidden;
}
main .first-section img {
  object-fit: cover;
  height: 750px;
  width: 900px;
  align-items: end;
}
main .first-section .btn-page {
  margin-bottom: 30px;
}
main .first-section .btn-slider {
  transition: 0.3s;
}
main .first-section .btn-slider:hover {
  border-radius: 100%;
  background-color: #EC1D25;
}
main .first-section .anima-text {
  z-index: 200;
  position: absolute;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5019607843), #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 7s linear infinite;
  font-size: 60px;
}

.second-section {
  padding: 40px 0;
  background-image: url(/assets/image/welcome-bg.jpg);
  background-size: cover;
  background-repeat: repeat;
}
.second-section .text {
  text-align: center;
}
.second-section .text h1:nth-of-type(1) {
  font-family: "P";
  color: #EC1D25;
  font-size: 30px;
  font-family: "IM Fell English SC";
}
.second-section .text h1:nth-of-type(2) {
  font-size: 60px;
  color: #000;
  font-weight: bolder;
  margin-bottom: 40px;
}
.second-section .text a {
  text-decoration: none;
  color: grey;
}
.second-section .text p {
  color: grey;
}
.second-section .img {
  height: 400px;
}
.second-section .img div {
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
}
.second-section .img div img {
  height: 400px;
  object-fit: cover;
  transition: 0.4s;
}
.second-section .img div img:hover {
  transform: scale(1.1);
}

.third-section {
  height: 500px;
  overflow: hidden;
}
.third-section div {
  background-size: cover;
  text-align: center;
  height: 400px;
  background-attachment: fixed;
  background-image: url(/assets/image/bg-intro-01.jpg.webp);
  flex-direction: column;
}

.fourth-section .row {
  padding: 0 0 60px 0;
}
.fourth-section .card {
  overflow: hidden;
  box-shadow: none;
  border: none;
}
.fourth-section .card .img {
  height: 230px;
  border-radius: 20px;
  margin-bottom: 15px;
  overflow: hidden;
}
.fourth-section .card img {
  transition: 0.3s;
}
.fourth-section .card img:hover {
  transform: scale(1.1);
}
.fourth-section .card .card-body {
  padding: 0;
}
.fourth-section .card .card-body .card-title {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}
.fourth-section .card .card-body .card-title:hover {
  color: #EC1D25;
}
.fourth-section .card p {
  color: grey;
}
.fourth-section .card .btn {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: grey;
  padding: 0;
}

.fifth-section {
  background-image: url(/assets/image/our-menu-bg.jpg);
}
.fifth-section h1:nth-of-type(2) {
  color: #000;
}
.fifth-section .container {
  padding: 50px 0;
}
.fifth-section .left,
.fifth-section .right,
.fifth-section .top,
.fifth-section .bottom {
  flex-wrap: wrap;
  display: flex;
}
.fifth-section .left img,
.fifth-section .right img,
.fifth-section .top img,
.fifth-section .bottom img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.fifth-section .img-menu {
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.fifth-section .img-menu:hover img {
  transform: scale(1.1);
}
.fifth-section .img-menu button {
  position: absolute;
  padding: 10px 40px 14px 40px;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.886);
  color: grey;
  transition: 0.3s;
}
.fifth-section .img-menu button:hover {
  background-color: #EC1D25;
  color: white;
}
.fifth-section .top .left .img-menu {
  height: 540px;
}
.fifth-section img {
  height: 100%;
}
.fifth-section .card-menu {
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}

.sixth-section {
  padding: 100px;
  position: relative;
  background-image: url(/assets/image/bg-event-01.jpg.webp);
}
.sixth-section .container {
  width: 78%;
}
.sixth-section img {
  height: 100%;
}
@media screen and (max-width: 992px) {
  .sixth-section img {
    transform: scale(1.2);
  }
}
.sixth-section .carousell {
  width: 100%;
  position: absolute;
}
.sixth-section .cour-content {
  position: absolute;
}
.sixth-section .title {
  width: 100%;
}
.sixth-section .card-c {
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.sixth-section .card-c a {
  text-decoration: none;
  color: grey;
}
.sixth-section .card-c .img {
  overflow: hidden;
  object-fit: cover;
}
.sixth-section .card-c .img img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
.sixth-section .card-c .timer {
  flex-direction: column;
  padding: 40px 50px;
  background-color: #fff;
}
.sixth-section .card-c .timer h1 {
  font-family: "Poppins";
}
.sixth-section .card-c .timer .time {
  display: flex;
  flex-wrap: wrap;
}
.sixth-section .card-c .timer .time .block-time {
  flex-wrap: wrap;
}
.sixth-section .card-c .timer .time .collon-time {
  padding: 15px;
}
@media screen and (max-width: 992px) {
  .sixth-section .card-c .timer .time .collon-time {
    padding: 0px;
  }
}
.sixth-section .card-c .timer .time .collon-time p {
  color: grey;
}
.sixth-section .card-c .timer .time h1 {
  font-weight: bolder;
  font-size: 50px;
  color: red;
  font-family: "Poppins";
}
@media screen and (max-width: 992px) {
  .sixth-section .card-c .timer .time h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .sixth-section .card-c img {
    display: none;
  }
  .sixth-section .title h1:nth-of-type(1) {
    font-size: 20px;
  }
  .sixth-section .title h1:nth-of-type(2) {
    font-size: 40px;
  }
  .sixth-section .card-c h1 {
    font-size: 20px;
  }
}
.seventh-section {
  background-image: url(/assets/image/welcome-bg.jpg);
  background-size: cover;
}
.seventh-section .container {
  padding: 50px 0;
  width: 78%;
}
.seventh-section .card-img {
  border-radius: 20px;
  width: 400px;
  height: 500px;
  overflow: hidden;
}
.seventh-section .card-img img {
  height: 500px;
  transition: 0.3s;
}
.seventh-section .card-img img:hover {
  transform: scale(1.1);
}
.seventh-section .form h1:nth-of-type(2) {
  color: black;
}
.seventh-section .form .left, .seventh-section .form .right {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0 20px;
  margin: 30px 0;
}
.seventh-section .form .form-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0;
}
.seventh-section .form input, .seventh-section .form select {
  height: 50px;
  width: 100%;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  color: grey;
  box-sizing: border-box;
  padding: 0 10px;
}
.seventh-section .form input:focus {
  outline: none;
  transition: 0.3s;
}
.seventh-section .form input:focus:hover {
  border: 1px solid #EC1D25;
}
.seventh-section .form .button {
  padding: 30px 0;
}
.seventh-section .form .button button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.eighth-section {
  padding: 50px 0;
}
.eighth-section h1:nth-of-type(2) {
  color: #000;
}
.eighth-section .container {
  flex-direction: column;
  gap: 20px;
}
.eighth-section .profile {
  margin-top: 50px;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid #EC1D25;
}
.eighth-section .profile img {
  width: 170px;
  object-fit: cover;
}
.eighth-section .text {
  width: 65%;
  color: grey;
}
.eighth-section .fa-star {
  color: #EC1D25;
}
.eighth-section .name {
  color: grey;
}