.r-second-section .container, .r-second-section, .r-first-section div, .m-fifth-section div, .m-fourth-section .m-card .img, .m-third-section div, .m-second-section .item-price .dots, .m-first-section div, .ninth-section .content .icon, .ninth-section .content, .eighth-section .container, .seventh-section .form .button, .seventh-section .form .form-input, .seventh-section .card-img, .sixth-section .card-c .timer .time .block-time, .sixth-section .card-c .timer, .sixth-section, .fifth-section .img-menu, .third-section div, .second-section .img, .second-section, main .first-section, .footer__container .footer__gallery .footer__gallery__container div, header .container .icon .social-media, header .container .icon, header .container ul a, header .container ul, header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tenth-section .text, .ninth-section .content, .eighth-section, .seventh-section .form, .sixth-section, .fifth-section, .third-section div {
  text-align: center;
}
.tenth-section .text h1:nth-of-type(1), .ninth-section .content h1:nth-of-type(1), .eighth-section h1:nth-of-type(1), .seventh-section .form h1:nth-of-type(1), .sixth-section h1:nth-of-type(1), .fifth-section h1:nth-of-type(1), .third-section div h1:nth-of-type(1) {
  color: #EC1D25;
  font-family: "IM Fell English SC";
  font-size: 30px;
}
.tenth-section .text h1:nth-of-type(2), .ninth-section .content h1:nth-of-type(2), .eighth-section h1:nth-of-type(2), .seventh-section .form h1:nth-of-type(2), .sixth-section h1:nth-of-type(2), .fifth-section h1:nth-of-type(2), .third-section div h1:nth-of-type(2) {
  color: white;
  font-family: "Poppins" !important;
  font-weight: bold;
  font-size: 60px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

body {
  font-family: "Poppins";
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
.container {
  width: 78%;
  margin: 0 auto;
}

.row {
  flex-wrap: wrap;
}

header {
  border-top: 5px solid #EC1D25;
  background-color: rgba(255, 255, 255, 0.886);
  position: fixed;
  width: 100vw;
  z-index: 999;
}
header .container {
  width: 78%;
  height: 100px;
  justify-content: space-between;
}
header .container ul {
  gap: 50px;
  margin: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}
header .container ul a {
  text-decoration: none;
  color: black;
}
header .container .icon {
  gap: 40px;
}
header .container .icon .social-media {
  gap: 20px;
  font-size: 13px;
}
header .container .icon .social-media a {
  color: black;
}
header .container .icon .fa-bars {
  font-size: 25px;
  color: rgb(63, 63, 63);
}

header li {
  transition: 0.3s;
}
header li:hover {
  color: #EC1D25;
}
header i {
  transition: 0.3s;
}
header i:hover {
  color: #EC1D25;
}
header .icon .fa-bars {
  transition: 0.3s;
}
header .icon .fa-bars:hover {
  color: #EC1D25;
}

.signUp {
  background-color: #EFEFEF;
  width: 100%;
  height: 240px;
  object-fit: cover;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUp .signUp__text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-right: 10px;
}
.signUp .signUp__input {
  height: 46px;
  width: 266px;
  padding: 0 0 0 20px;
  border-radius: 5px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  border: 1px solid #666666;
  position: relative;
  margin-right: 10px;
}
.signUp i {
  position: absolute;
  right: 470px;
  font-size: 14px;
  color: #666666;
}
.signUp .signUp__btn {
  height: 40px;
  width: 160px;
  background: #111111;
  border-radius: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #111111;
  transition: 0.3s;
}
.signUp .signUp__btn:hover {
  background-color: #EC1D25;
}

/* footer container start */
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 488px;
  background-color: #222222;
}
.footer__container .footer__title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 33px;
}
.footer__container .footer__contact__time {
  max-width: 400px;
  min-height: 377px;
  padding: 50px 15px 0;
}
.footer__container .footer__contact__time .footer__openning__title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 70px 0 4px;
}
.footer__container .footer__contact__time .footer__contact__time__items {
  color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.footer__container .footer__contact__time .footer__contact__time__items .footer__contact__time__icon__list {
  display: flex;
  margin-top: 10px;
  transform: translateX(-35px);
}
.footer__container .footer__contact__time .footer__contact__time__items .footer__contact__time__icon__list i {
  font-size: 16px;
  margin: 0 10px;
}
.footer__container .footer__contact__time .footer__contact__time__items .list {
  list-style: none;
}
.footer__container .latest__twitter {
  max-width: 400px;
  min-height: 377px;
  padding: 50px 15px 0;
}
.footer__container .latest__twitter .lastest__twitter__commet {
  margin-bottom: 10px;
}
.footer__container .latest__twitter .lastest__twitter__commet .commet__icon__colorlib {
  display: flex;
}
.footer__container .latest__twitter .lastest__twitter__commet .commet__icon__colorlib i {
  margin-right: 10px;
  color: rgba(204, 204, 204, 0.8);
  font-size: 15px;
}
.footer__container .latest__twitter .lastest__twitter__commet .commet__icon__colorlib .colorlib__text {
  color: #ec1d25;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.7;
}
.footer__container .latest__twitter .lastest__twitter__commet .colorlib__link {
  color: #ec1d25;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.7;
}
.footer__container .latest__twitter .lastest__twitter__commet p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 1.7;
  max-width: 370px;
  margin-bottom: 18px;
}
.footer__container .latest__twitter .lastest__twitter__commet .time {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #555555;
}
.footer__container .footer__gallery {
  min-height: 377px;
  max-width: 100%;
  padding: 50px 15px 0;
  padding: 50px 15px 0;
}
.footer__container .footer__gallery .footer__gallery__container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  padding: 10px;
}
.footer__container .footer__gallery .footer__gallery__container div {
  position: relative;
  text-align: center;
  width: 80px;
  height: 80px;
}
.footer__container .footer__gallery .footer__gallery__container div .hover {
  height: 80px;
  width: 80px;
  position: absolute;
  background-color: rgba(236, 29, 36, 0);
  transition: 0.3s;
  z-index: 2;
}
.footer__container .footer__gallery .footer__gallery__container div img {
  object-fit: cover;
  height: 80px;
}
.footer__container .footer__gallery .footer__gallery__container div .hover:hover {
  background-color: rgba(236, 29, 36, 0.6039215686);
}

.footer__end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111111;
  min-height: 79px;
  width: 100%;
  padding: 0 200px;
}
.footer__end .footer__end__icons {
  padding: 22px 0;
  color: white;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
}
.footer__end .footer__end__icons i {
  margin: 5px;
}
.footer__end .footer__end__texts {
  display: flex;
  color: rgba(204, 204, 204, 0.8);
}
.footer__end .footer__end__texts a {
  color: #666666;
  text-decoration: none;
  margin: 0 10px;
}

@media only screen and (max-width: 855px) {
  .signUp {
    display: flex;
    flex-direction: column;
  }
  .signUp .signUp__input {
    margin: 20px 0;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  .footer__gallery__container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
/* footer container end */
main .container {
  width: 78%;
}
main .first-section {
  height: 697px;
  overflow: hidden;
}
main .first-section img {
  object-fit: cover;
  height: 750px;
  width: 900px;
  align-items: end;
}
main .first-section .btn-page {
  margin-bottom: 30px;
}
main .first-section .btn-slider {
  transition: 0.3s;
}
main .first-section .btn-slider:hover {
  border-radius: 100%;
  background-color: #EC1D25;
}
main .first-section .anima-text {
  z-index: 200;
  position: absolute;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5019607843), #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 7s linear infinite;
  font-size: 60px;
}

.second-section {
  padding: 40px 0;
  background-image: url(/assets/image/welcome-bg.jpg);
  background-size: cover;
  background-repeat: repeat;
}
.second-section .text {
  text-align: center;
}
.second-section .text h1:nth-of-type(1) {
  font-family: "P";
  color: #EC1D25;
  font-size: 30px;
  font-family: "IM Fell English SC";
}
.second-section .text h1:nth-of-type(2) {
  font-size: 60px;
  color: #000;
  font-weight: bolder;
  margin-bottom: 40px;
}
.second-section .text a {
  text-decoration: none;
  color: grey;
}
.second-section .text p {
  color: grey;
}
.second-section .img {
  height: 400px;
}
.second-section .img div {
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
}
.second-section .img div img {
  height: 400px;
  object-fit: cover;
  transition: 0.4s;
}
.second-section .img div img:hover {
  transform: scale(1.1);
}

.third-section {
  height: 500px;
  overflow: hidden;
}
.third-section div {
  background-size: cover;
  text-align: center;
  height: 400px;
  background-attachment: fixed;
  background-image: url(/assets/image/bg-intro-01.jpg.webp);
  flex-direction: column;
}

.fourth-section .row {
  padding: 0 0 60px 0;
}
.fourth-section .card {
  overflow: hidden;
  box-shadow: none;
  border: none;
}
.fourth-section .card .img {
  height: 220px;
  border-radius: 20px;
  margin-bottom: 15px;
  overflow: hidden;
}
.fourth-section .card img {
  transition: 0.3s;
}
.fourth-section .card img:hover {
  transform: scale(1.1);
}
.fourth-section .card .card-body {
  padding: 0;
}
.fourth-section .card .card-body .card-title {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}
.fourth-section .card .card-body .card-title:hover {
  color: #EC1D25;
}
.fourth-section .card p {
  color: grey;
}
.fourth-section .card .btn {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: grey;
  padding: 0;
}

.fifth-section {
  background-image: url(/assets/image/our-menu-bg.jpg);
}
.fifth-section h1:nth-of-type(2) {
  color: #000;
}
.fifth-section .container {
  padding: 50px 0;
}
.fifth-section .left,
.fifth-section .right,
.fifth-section .top,
.fifth-section .bottom {
  flex-wrap: wrap;
  display: flex;
}
.fifth-section .left img,
.fifth-section .right img,
.fifth-section .top img,
.fifth-section .bottom img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.fifth-section .img-menu {
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.fifth-section .img-menu:hover img {
  transform: scale(1.1);
}
.fifth-section .img-menu button {
  position: absolute;
  padding: 10px 40px 14px 40px;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.886);
  color: grey;
  transition: 0.3s;
}
.fifth-section .img-menu button:hover {
  background-color: #EC1D25;
  color: white;
}
.fifth-section .top .left .img-menu {
  height: 540px;
}
.fifth-section img {
  height: 100%;
}
.fifth-section .card-menu {
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}

.sixth-section {
  padding: 100px;
  position: relative;
  background-image: url(/assets/image/bg-event-01.jpg.webp);
}
.sixth-section .container {
  width: 78%;
}
.sixth-section img {
  height: 100%;
}
@media screen and (max-width: 992px) {
  .sixth-section img {
    transform: scale(1.2);
  }
}
.sixth-section .carousell {
  width: 100%;
  position: absolute;
}
.sixth-section .cour-content {
  position: absolute;
}
.sixth-section .title {
  width: 100%;
}
.sixth-section .card-c {
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.sixth-section .card-c a {
  text-decoration: none;
  color: grey;
}
.sixth-section .card-c .img {
  overflow: hidden;
  object-fit: cover;
}
.sixth-section .card-c .img img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
.sixth-section .card-c .timer {
  flex-direction: column;
  padding: 40px 50px;
  background-color: #fff;
}
.sixth-section .card-c .timer h1 {
  font-family: "Poppins";
}
.sixth-section .card-c .timer .time {
  display: flex;
  flex-wrap: wrap;
}
.sixth-section .card-c .timer .time .block-time {
  flex-wrap: wrap;
}
.sixth-section .card-c .timer .time .collon-time {
  padding: 15px;
}
@media screen and (max-width: 992px) {
  .sixth-section .card-c .timer .time .collon-time {
    padding: 0px;
  }
}
.sixth-section .card-c .timer .time .collon-time p {
  color: grey;
}
.sixth-section .card-c .timer .time h1 {
  font-weight: bolder;
  font-size: 50px;
  color: red;
  font-family: "Poppins";
}
@media screen and (max-width: 992px) {
  .sixth-section .card-c .timer .time h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .sixth-section .card-c img {
    display: none;
  }
  .sixth-section .title h1:nth-of-type(1) {
    font-size: 20px;
  }
  .sixth-section .title h1:nth-of-type(2) {
    font-size: 40px;
  }
  .sixth-section .card-c h1 {
    font-size: 20px;
  }
}
.seventh-section {
  background-image: url(/assets/image/welcome-bg.jpg);
  background-size: cover;
}
.seventh-section .container {
  padding: 50px 0;
  width: 78%;
}
.seventh-section .card-img {
  border-radius: 20px;
  width: 400px;
  height: 500px;
  overflow: hidden;
}
.seventh-section .card-img img {
  height: 500px;
  transition: 0.3s;
}
.seventh-section .card-img img:hover {
  transform: scale(1.1);
}
.seventh-section .form h1:nth-of-type(2) {
  color: black;
}
.seventh-section .form .left, .seventh-section .form .right {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0 20px;
  margin: 30px 0;
}
.seventh-section .form .form-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0;
}
.seventh-section .form input, .seventh-section .form select {
  height: 50px;
  width: 100%;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  color: grey;
  box-sizing: border-box;
  padding: 0 10px;
}
.seventh-section .form input:focus {
  outline: none;
  transition: 0.3s;
}
.seventh-section .form input:focus:hover {
  border: 1px solid #EC1D25;
}
.seventh-section .form .button {
  padding: 30px 0;
}
.seventh-section .form .button button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.eighth-section {
  padding: 50px 0;
}
.eighth-section h1:nth-of-type(2) {
  color: #000;
}
.eighth-section .container {
  flex-direction: column;
  gap: 20px;
}
.eighth-section .profile {
  margin-top: 50px;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid #EC1D25;
}
.eighth-section .profile img {
  width: 170px;
  object-fit: cover;
}
.eighth-section .text {
  width: 65%;
  color: grey;
}
.eighth-section .fa-star {
  color: #EC1D25;
}
.eighth-section .name {
  color: grey;
}

.ninth-section {
  background-image: url(/assets/image/bg-cover-video-02.jpg.webp);
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}
.ninth-section .content {
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3882352941);
}
.ninth-section .content .text {
  padding: 20px;
}
.ninth-section .content .icon {
  cursor: pointer;
  margin: 40px;
  height: 70px;
  font-size: 20px;
  width: 70px;
  background-color: white;
  border-radius: 100%;
}
.ninth-section .content .icon a {
  color: #000;
}

.tenth-section .text {
  padding: 40px;
}
.tenth-section .text h1:nth-of-type(2) {
  color: #000;
}
.tenth-section .img {
  position: relative;
}
.tenth-section .img .date {
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 4;
}

.m-first-section div {
  background-image: url(/assets/image/bg-title-page-01.jpg.webp);
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
}
.m-first-section div h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.m-second-section {
  display: flex;
  flex-wrap: wrap;
}
.m-second-section .left {
  padding: 70px 20px 70px 0;
}
.m-second-section .right {
  padding: 70px 0 70px 20px;
}
.m-second-section h6 {
  white-space: nowrap;
  color: grey;
  font-weight: normal;
}
.m-second-section .item {
  margin-top: 40px;
}
.m-second-section .block {
  margin-top: 50px;
}
.m-second-section .item-price {
  margin-top: 20px;
  display: flex;
}
.m-second-section .item-price h4 {
  white-space: nowrap;
  color: grey;
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.m-second-section .item-price h4:hover {
  color: #EC1D25;
}
.m-second-section .item-price .dots {
  width: 100%;
  padding: 0 10px;
}
.m-second-section .item-price .dots div {
  width: 100%;
  border-bottom: 3px dotted grey;
}

.m-third-section div {
  background-image: url(/assets/image/header-menu-01.jpg.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}
.m-third-section div h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.m-fourth-section .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}
.m-fourth-section .m-card {
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.m-fourth-section .m-card .img {
  height: 130px;
  width: 160px;
  overflow: hidden;
  border-radius: 10px;
}
.m-fourth-section .m-card .img img {
  height: 130px;
  object-fit: cover;
  transition: 0.3s;
}
.m-fourth-section .m-card .img img:hover {
  transform: scale(1.1);
}
.m-fourth-section .m-card .m-card-text {
  padding: 10px 20px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.m-fourth-section .m-card h4 {
  font-size: 20px;
  font-weight: normal;
  color: grey;
  transition: 0.3s;
  cursor: pointer;
}
.m-fourth-section .m-card h4:hover {
  color: #EC1D25;
}
.m-fourth-section .m-card p {
  color: grey;
}
.m-fourth-section .m-card h2 {
  font-size: 20px;
  color: grey;
  font-weight: 400;
}

.m-fifth-section div {
  background-image: url(/assets/image/header-menu-02.jpg.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}
.m-fifth-section div h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.r-first-section div {
  background-image: url(/assets/image/bg-title-page-02.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
}
.r-first-section div h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.r-second-section {
  background-color: rgb(240, 240, 240);
  padding: 50px 0;
  background-image: none;
}
.r-second-section .container {
  flex-wrap: wrap;
}
.r-second-section .container .text {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.r-second-section .container .text .right, .r-second-section .container .text .left {
  padding: 0 70px;
}